<ion-header menu_header>
  <ion-toolbar>
      <ion-buttons>
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content reg_steps>
  <div reg_box>
  <div class="top_hdr">
  <h5>Register as a Consultant</h5>
  <h6>Username will be your <strong>email</strong>.</h6>
</div>
  <div class="register_box">

    
    <ion-item lines="none">
      <ion-label position="stacked">Password</ion-label>
      <ion-input  placeholder="*********"></ion-input>
    </ion-item>
    <ion-item lines="none"> 
      <ion-label position="stacked">Repeat your password</ion-label>
      <ion-input  placeholder="*******"></ion-input>
    </ion-item>
  </div>

  <div class="btm_hdr">
    <h5 routerLink="/reg-three">go Back</h5>
    <h5 routerLink="/reg-five">Finish</h5>
  </div>
</div>
</ion-content>