[menu_header]{
    ion-toolbar{
    --background:#80b25a;
    }
}
[reg_steps]{
    [reg_box] {
        .register_box{
            text-align:center;
            h5{
                font-family: 'Montserrat', sans-serif;
            }
        }
    }
}