<ion-header menu_header>
  <ion-toolbar>
      <ion-buttons>
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content reg_steps>
  <div reg_box>
  <div class="top_hdr">
  <h5>Register as a Consultant</h5>
</div>
  <div class="register_box">
    <ion-item lines="none">
      <ion-label position="stacked">Which company <br/>do you represent ?</ion-label>
      <ion-input  placeholder="herbalife"></ion-input>
    </ion-item>
    
  </div>

  <div class="btm_hdr">
    <h5 routerLink="/reg-three">Continue</h5>
  </div>
</div>
</ion-content>