<ion-header menu_header>
  <ion-toolbar>
      <ion-buttons>
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content reg_steps>
  <div reg_box>
  <div class="top_hdr">
  <h5>Register as a Consultant</h5>
</div>
  <div class="register_box">

    
    <ion-item lines="none">
      <ion-label position="stacked">Full Name</ion-label>
      <ion-input  placeholder="Maria Lopez"></ion-input>
    </ion-item>
    <ion-item lines="none"> 
      <ion-label position="stacked">Phone</ion-label>
      <ion-input  placeholder="(111) 222 3344"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Email</ion-label>
      <ion-input  placeholder="marialopez@gmail.com"></ion-input>
    </ion-item>
  </div>

  <div class="btm_hdr">
    <h5 routerLink="/reg-two">Continue</h5>
  </div>
</div>
</ion-content>