<ion-header menu_header>
  <ion-toolbar>
      <ion-buttons>
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content reg_steps>
  <div reg_box>
  <div class="top_hdr">
  <h5>Register as a Consultant</h5>
  <h6>The following information<br/>
    will help other people find you</h6>
</div>
  <div class="register_box">

    
    <ion-item lines="none">
      <ion-label position="stacked">Address</ion-label>
      <ion-input  placeholder="270 E Doughlas Ave"></ion-input>
    </ion-item>
    <ion-item lines="none"> 
      <ion-label position="stacked">City</ion-label>
      <ion-input  placeholder="El Cajon"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">State</ion-label>
      <ion-input  placeholder="California"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Zip Code</ion-label>
      <ion-input  placeholder="9204"></ion-input>
    </ion-item>
  </div>

  <div class="btm_hdr">
    <h5 routerLink="/reg-two">go Back</h5>
    <h5 routerLink="/reg-four">Continue</h5>
  </div>
</div>
</ion-content>