<ion-header menu_header>
  <ion-toolbar>
      <ion-buttons>
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content personal-info>
  <h5>Personal Info</h5>
  <ion-list>
    <ion-item lines="none">
      <ion-label>
        <h5>Full Name <span>Edit</span></h5>
        <h6>Maria Lopez</h6>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <h5>Phone <span>Edit</span></h5>
        <h6>(111) 222 3344</h6>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <h5>Email <span>Edit</span></h5>
        <h6>marialopez@gmail.com</h6>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <h5>Company <span>Edit</span></h5>
        <h6>Herbalife</h6>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <h5>Address <span>Edit</span></h5>
        <h6>270 E Douglas Ave</h6>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <h5>City <span>Edit</span></h5>
        <h6>El Cojan</h6>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <h5>State <span>Edit</span></h5>
        <h6>California</h6>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <h5>Zip Code <span>Edit</span></h5>
        <h6>10923</h6>
      </ion-label>
    </ion-item>
  </ion-list>

  
  
</ion-content>
